body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-image: url("../images/background.png");
  background-repeat: repeat; /* Do not repeat the image */
  background-size: contain;
  color: lightgray;
}

a {
  color: #00B7FF;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}
